{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'read.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
<h2>Students</h2>
<a href="{% url 'create_student' %}">Add a Student</a>
<hr>
 
{% for student in students %}
    <p><strong>{{ student.name }}</strong> — {{ student.no }}</p>
 
    {% if student.image %}
        <img src="{{ student.image.url }}" height="100">
    {% endif %}
 
    <br>
    <a href="{% url 'update_student' student.id %}">Edit</a> |
    <a href="{% url 'delete_student' student.id %}">Delete</a>
 
    <hr>
{% endfor %}
 
</body>
</html>
